@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .navBar-item{
    @apply w-[9rem] text-center h-[2rem] hover:bg-gray-500 ;
  }

  .navBar-item-drop{
    @apply flex justify-center
  }

}

.active{
  background:black;
  color: white;
  border-radius: 2rem;
  
  display: inline-block;
  text-align: center;
}

.nav-dropdown-session{
  translate:x;
}